# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\7th Semister\sp4 Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
